/*
wood brown: A89F68;
army green: 41521F;
*/

* {
	font-family: 'Lato', sans-serif;
}


.text-bl {
	color: white;
	font-size: 12px;
	line-height: 17px;
}

.text-ng {
	color: black;
	font-size: 12px;
	line-height: 17px;
}

.style-tit-2{
	color: #41521F;
	font-size: 21px;
	font-weight: 700;
}

.style-title-3 {
	color: #A89F68;
}

.style-title-4 {
	font-weight: bold;
	font-kerning: auto;
}

.btn-default{
	background-color: #41521F;
	border-color: transparent;
	color: white;
	border-radius: 4px;
	padding: 5px 10px;
}

/*------------------* HEADER *------------------*/

/*********** MENU ***********/

#menu ul li a {
	color: white;
	 background-color: transparent;
}


#menu ul li a:hover {
	background-color: rgba(52,66,17,0.5);
}

.navbar-default{
	background-color: transparent;
    background: transparent;
    border-color: transparent;

}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #FFF;
    text-shadow: 1px 1px 3px black;
}

/*********** SECTION HOME ***********/
.first-section{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.first-section h3{
	padding-top: 6em;
	color: #FFF;
	font-weight: 900;
	font-size: 35px;
}

.row.uno p {
	padding: 0;
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: left;
}

/*********** SECTION FOUNDATION ***********/

.second-section{
	margin: 5em 0;
}

/*********** SECTION KOALAS ***********/

.third-section {
	background-color: #A89F68;
	padding: 5em 0;
}

.third-section h6{
	color: white;
}

.img-responsive {
	border: 7px solid white;
}

/*********** SECTION KOALAS ***********/

.four-section {
	background-image: url(../img/all.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 4em;
	color: white;
	text-shadow: 1px 1px 3px black;
}

/*********** SECTION DONATE ***********/

.five-section {
	padding: 5em 0;
}

.five-section i{
	color: #A89F68;
	padding: 20px;
}

.five-section h3{
	padding-bottom: 50px;
}

/*********** SECTION DONATE ***********/

.six-section {
	background-color: #A89F68;
	padding: 5em 0;
}

.row.seis h6 {
	font-weight: 900;
	padding-top: 30px;
}

.peso{
	color: white;
	font-size: 6em;
	font-weight: 400;
}

sup {
	font-size: 0.2em;
    top: -3em;
}

sub {
	font-size: 0.2em;  
}

/*********** SECTION FOOTER GR ***********/

.seven-section {
	background-color: #41521F;
	padding: 5em 0;
}

.style-a {
	color: #A89F68;
}

.style-lista a {
	text-decoration: none;
	color: #A89F68;
}

.style-lista ul {
	list-style: none;
	padding: 10px;
}



/*********** SECTION FOOTER PROPIO ***********/

.foo {
  text-align: center;
  height: 70px;
  background-color: #373b47;
  color: white;
  padding-top: 7px;
}
